html {
	font-family: Helvetica, Arial, sans-serif;
	color: #4c6b9b;
}

body {
	/* background: #E9EEF3; */
	background: #fff;
}

#header {
	/* background: #C2CEDC; */
	background: #fff;
}

.logo {
  text-indent: -9999px;
	background: url(logo/omnivore-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

form {
	display: inline;
}

input.js-copy {
	width: 100%;
}

.notification {
	background: green;
	color: white;
	padding: 1em;
	display: none;
}

textarea {
	width: 100%;
	height: 75vh;
	white-space: pre-wrap;
	font-size: 1em;
	color: #4c6b9b;
}

#replacement {
	width: 100%;
	display: none;
}

.table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	margin-top: 1em;
	word-wrap:break-word;
	border-bottom: 2px solid #4c6b9b;
}

.table th {
	color: #fff;
}

.table thead {
	background-color: #4c6b9b;
  	text-align: left;	
}

.table th, td {
	padding: .5em 1em;
	border-left: 2px solid #4c6b9b;
}

.table th:first-child, td:first-child {
  border-left-width: 0;
}

button {
  transition: all 200ms linear;
	padding: 1em;
	cursor: pointer;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	background-color: #4c6b9b;
	border: 0 none;
	display: block;
	width: 100%;
}

.buttonText {
	margin-left: .6em;
}

button:hover {
	background-color: #d27a4efc;
	opacity: 1;
}